<div *ngIf="albums">
	<h1>{{albums.items[0].artists[0].name}}'s albums:</h1>
	<div class="card-columns">
		<div *ngFor="let a of albums.items">
			<br>
			<div class="card card-inverse">
				<div *ngIf="a.images.length > 0">
					<img class="card-img-top img-fluid" src="{{a.images[0].url}}" alt="Card image cap">
				</div>
		    <div class="card-block">
		      <h4 class="card-title">Album: {{a.name}}</h4>
		      <div class="btn-group">
		      	<button (click)="getTracks(a.id)" class="btn btn-outline-success">Load track previews</button>
		      	<button (click)="hideTracks(a.id)" id="b-{{a.id}}" class="btn btn-outline-info">Hide 'em</button>
		      </div>
		    </div>
		    <div id="{{a.id}}"></div>
		</div>
	</div>
</div>
