<div class="container">
	<h1 class="mainHeading">List of angular apps:</h1>
	<div class="row">	
		<div class="col-md-4">
			<div class="card">
				<img class="img-fluid" [src]="clientsAppLogo">
				<div class="card-block">
					<hr>
					<h4 class="card-title">Client Panel</h4>
					<p class="card-text">
						Client Panel is a Firebase App. In this app I went through pain and pleasure :) of implementing FireAuth system to register, log users in and out, and FireStore cloud api to store information about the clients.
					</p>
					<a href="#" routerLink="/clients" class="btn btn-primary">
						Take a Look
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img class="img-fluid" [src]="sptifyLogo">
				<div class="card-block">
					<hr>
					<h4 class="card-title">Spotify Api</h4>
					<p class="card-text">
						Spoiler Alert: Work is being done on audion element.
						This App features Spotify API implementation. Here you can search for artists, view their albums and preview artist's tracks.
					</p>
					<a href="#" routerLink="/spotify" class="btn btn-primary">
						Take a Look
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img class="img-fluid" [src]="gitSearch">
				<div class="card-block">
					<hr>
					<h4 class="card-title">Git Hub Profile Search</h4>
					<p class="card-text">
						The GitHub search app looks for a user, diplays user's details, repositories and info about them. GitHub's REST api v3 is the key in this App.
					</p>
					<a href="#" routerLink="/gitusers" class="btn btn-primary">
						Take a Look
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- beginnign of new row -->
	<br>



<div class="row">	
		<div class="col-md-4">
			<div class="card">
				<img class="img-fluid" [src]="todos">
				<div class="card-block">
					<hr>
					<h4 class="card-title">Todos App</h4>
					<p class="card-text">
						Todos App is based on MongoDB Api's for Angular4. It's a simple app that lets users create update and delete todo's.
					</p>
					<a href="#" routerLink="/tasks" class="btn btn-primary">
						Take a Look
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img class="img-fluid" [src]="workouts">
				<div class="card-block">
					<hr>
					<h4 class="card-title">Workouts</h4>
					<p class="card-text">
						Under Construction!!!
						Work outs app. It's a simple app that lets users create update and delete Workouts.
						This app based on MongoDB Api's.
					</p>
					<a href="#" routerLink="/workouts" class="btn btn-primary">
						Take a Look
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img class="img-fluid" [src]="weather">
				<div class="card-block">
					<hr>
					<h4 class="card-title">Weather</h4>
					<p class="card-text">
						Under Construction!!
						This app will feature Weather Undergroud API that allows users search for weathe anywhere in the world. 
					</p>
					<a href="#" routerLink="/weather" class="btn btn-primary">
						Take a Look
					</a>
				</div>
			</div>
		</div>	
	</div>

	<div class="row">
		<div class="col-md-4">
			<div class="card">
				<img class="img-fluid" [src]="imgPath">
				<div class="card-block">
					<hr>
					<h4 class="card-title">FAQ App</h4>
					<p class="card-text">
					An app that takes advantage of angulars local starage. it simply stores a question and an answer and displays it despite the page refresh in your browser. 
					</p>
					<a href="#" routerLink="/faq" class="btn btn-primary">
						Take a Look
					</a>
				</div>
			</div>
		</div>	
	</div>
	


</div>







