<div class="row">
	<div class="col-md-6 offset-md-3">
		<div class="card-block">
			<a routerLink="/login" class="btn btn-secondary btn-block">
				<i class="fa fa-sign-in"></i>
				Sign In</a>
		</div>
		<div class="card">
			<div class="card-block">
				<img src="/assets/imgs/logo.png" alt="" class="mx-auto d-block">
				<h1 class="text-center">Register</h1>
				<form (submit)="onSubmit()">
					<div class="form-group">
						<label for="email">Email</label>
						<input type="email" class="form-control" [(ngModel)]="email" name="email" required>
					</div>
					<div class="form-group">
						<label for="password">password</label>
						<input type="password" class="form-control" [(ngModel)]="password" name="password" required>
					</div>
					<input type="submit" class="btn btn-primary btn-block" value="Register">
				</form>
			</div>
		</div>
	</div>
</div>






