<div class="add-todo-form text-center">
	<h1>Add a todo</h1>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="form-group">
				<input type="text" class="form-control input-lg"
				placeholder="Add Todo ..."
				autofocus #todoText>
				<br>
				<button class="btn btn-primary btn-block">
					Create
				</button>
			</div>
		</div>
		<div class="col-md-2"></div>
</div>
</div>

<div *ngFor='let todo of todos'>
	<div class="todo-list row">
		<div class="col-md-2"></div>
		<div class="col-md-8 row">
				<div class="col-md-1">
					<input type="checkbox" class="">
				</div>
				<div class="col-md-7">
					<p>{{todo.text}}</p>
				</div>
				<div class="col-md-4">
					<div class="btn-group pull-right" role="group">
						<input type="button" 
						class="btn btn-secondary" 
						value="Edit">
						<input type="button" 
						class="btn btn-danger" 
						value="Delete">
					</div>
				</div>

		</div>
		<div class="col-md-2"></div>
	</div>
</div>