

<div class="text-center">
	<h1>Search for music here</h1>
	<div class="form-group col-md-8 margin_sp">
    <label for="exampleInputEmail1">Artists : </label>
    <input (keyup)="onKey($event)" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="
    emailHelp" placeholder="Artist search">
    <br>
	</div>
	<div *ngIf="responce">
		<div class="col-md-8 margin_sp">
			<h4>Results:</h4>
			<div *ngFor="let a of artists.artists.items">
				{{a.name}}
				<br>
		</div>
	</div>
</div>